# Pin NumPy to 1.x to avoid binary mismatches with torch/torchaudio wheels
numpy<2
pandas
torch
torchaudio
torchvision
librosa
soundfile
matplotlib
scikit-learn
tqdm
PyQt5
sounddevice
numba
ipykernel
seaborn
scikit-learn
praat-parselmouth
torchcodec